* text=auto !eol
sync/common.py -text
sync/configure.bat -text
sync/cwRsync/README.cwrsync.txt -text
sync/cwRsync/README.rsync.txt -text
sync/cwRsync/cwrsync.cmd -text
sync/cwRsync/cygcrypto-1.0.0.dll -text
sync/cwRsync/cyggcc_s-1.dll -text
sync/cwRsync/cygiconv-2.dll -text
sync/cwRsync/cygssp-0.dll -text
sync/cwRsync/cygwin1.dll -text
sync/cwRsync/cygz.dll -text
sync/cwRsync/rsync.exe -text
sync/cwRsync/rsync.html -text
sync/cwRsync/rsyncd.conf.html -text
sync/cwRsync/ssh-keygen.exe -text
sync/cwRsync/ssh.exe -text
sync/etc/fstab -text
sync/py.bat -text
sync/sync_3dparty.py -text
sync/sync_3dparty_build.py -text
sync/sync_3dparty_common.py -text
sync/sync_3dparty_full.py -text
sync/sync_3dparty_vc14_x64.py -text
sync/sync_3dparty_vc14_x86.py -text
sync/sync_tests_data.py -text
sync/test_common.py -text
sync/upload_3dparty.py -text
sync/upload_3dparty_build.py -text
sync/upload_3dparty_common.py -text
sync/upload_3dparty_vc14_x64.py -text
sync/upload_3dparty_vc14_x86.py -text
sync/upload_tests_data.py -text
